/.settings/*
 
/html-template/*
/bin-debug/*
/bin-release/*
/libs/*
/bin/*
/doc/*
/report/*
/dist/*
/trash/*
 
/.actionScriptProperties
/.flexProperties
/.flexLibProperties
/.project
/.as3_classpath
/com.adobe.flexbuilder.project.prefs
/org.eclipse.core.resources.prefs

*~
.*.swp
 
Icon
Thumbs.db
.DS_Store

build.properties
*.iml
